/* GENERAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;      
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
header{
    width: 100%;
    font-size: 1.3rem;
}
header .nav-menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;
}
header .nav-menu a{
    color: rgba(0,0,0,0.87);
    margin: 1rem;
}
header .nav-menu .icon-menu img{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.5;
}
header .nav-menu .icon-menu{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .nav-menu .icon-menu:hover{
    background-color: rgba(60,64,67,0.08);
}
header .nav-menu .profile-picture{
    background-image: url(https://lh3.googleusercontent.com/ogw/ADGmqu94n_72JbThRxVfMlimAJlFRNSwouZMQpIqCJWv=s32-c-mo);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 3.5rem;
    height: 3.5rem;

/* MAIN */
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-top: -15%;
}
main .principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main .principal *{
    font-size: 1.3rem;
}
main .principal .search-box{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%
}
.principal .search-box .text-form-box{
    display: flex;
    padding: 0.5rem 0.8rem 0 1.6rem;
    padding-left: 1.4rem;
    justify-content: center;
    background: #fff;
    display: flex;
    border: 0.1rem solid #dfe1e5;
    border-radius: 2.4rem;
    max-width: 58.4rem;
    height: 4.4rem;
    margin-top: 1rem;
    width: 80%;
}
.principal .search-box .text-form-box :nth-child(1){
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
    width: 3.2rem;
    color: #9aa0a6;
}
.principal .search-box .text-form-box :nth-child(2){
    border: none;
    color: rgba(0,0,0,.87);
    outline: none;
    display: flex;
    flex: 100%;
    height: 3.4rem;
    font-size: 1.6rem;
    
}
.principal .search-box .text-form-box :nth-child(3){
    display: flex;
    cursor: pointer;
    padding: 0 0.8rem;
    font-size: 1.7rem;
    color: rgb(66, 133, 244);    
    margin-top: 0.5rem;
}
.principal .search-box .search-buttons{
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
    width: 100%;
    max-width: 58.4rem;
}
.principal .search-box .search-buttons input{
    font-size: 1.4rem;
    padding: 0 1.6rem;
    margin: 1.1rem 0.4rem;
    color: #3c4043;
    border: 0.1rem solid #f8f9fa;
    border-radius: 0.4rem;
    background-color: #f8f9fa;
    border: 0.1rem solid #f8f9fa;
    line-height: 2.7rem;
    height: 3.6rem;
    min-width: 5.4rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    width: 50%;
    max-width: 16.8rem;
}
.principal .search-box .search-buttons input:hover{
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 0.1rem solid #dadce0;
    color: #202124;
}
.principal .region a {
    color: #1a0dab;
}

/* FOOTER */
footer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #f2f2f2;
}
footer a{
    color: rgba(0,0,0,.54);
}

footer .initial-footer{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-bottom: solid 0.1rem #dadce0;
    display: flex;
    justify-content: center;

}
footer .final-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.final-footer div{
    width: 100%;
    display: flex;
    padding: 1.5rem;
    font-size: 1.4rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
footer .final-footer div *{
    margin: 0 1rem;
    display: flex;
    align-items: center;
}


@media (min-width: 750px) {
    footer .initial-footer{
        display: block;
    }
    footer .final-footer{
        flex-direction: row;

    }
    footer .final-footer div{
        width: 50%;
        flex-direction: row;
    }
    footer .final-footer :nth-child(1){
        justify-content: flex-start;
    
    }
    footer .final-footer :nth-child(2){
        justify-content: flex-end;
    }
}
